<section class="tab tab-inventory" data-group="primary" data-tab="tab-inventory">
	<div class="inventory-grid">
		<div>

			<!--Carried Gear-->
			<div class="SD-banner">{{localize "SHADOWDARK.inventory.carried_gear"}}</div>
				<ol class="SD-list item-list">
					<li class="header">
						<div class="item-name">
							<a
								class="fa-solid fa-square-plus"
								style="margin:0px 8px 0px 4px"
								data-action="create-item"
							></a>
							Items
						</div>
						<div class="quantity">Qty</div>
						<div class="slots">Slots</div>
					</li>

				{{#each inventory.carried as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a
							class="item-name"
							data-action="show-details"
						>
							{{item.name}}
							{{#if item.lightSourceUsed}}
								<em>{{localize "SHADOWDARK.inventory.item.light_used"}}</em>
							{{/if}}
						</a>
							{{#if item.lightSourceUsed}}
								<div
									data-tooltip="{{lightSourceTimeRemaining}}"
								>
									{{item.lightSourceProgress}}
								</div>
							{{/if}}
						<div class="quantity">
							{{#if item.showQuantity}}
									{{#if ../owner}}
										<a
											data-action="item-decrement"
											data-item-id="{{item._id}}"
											data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.item_decrement'}}"
										>
											<i class="fa-regular fa-minus fa-xs"></i>
										</a>
									{{/if}}
										{{item.system.quantity}}/{{item.system.slots.per_slot}}
									{{#if ../owner}}
										<a
											data-action="item-increment"
											data-item-id="{{item._id}}"
											data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.item_increment'}}"
										>
											<i class="fa-regular fa-plus fa-xs"></i>
										</a>
									{{/if}}
								{{else}}
									&nbsp;
							{{/if}}


						</div>
						<div class="slots">
							{{item.slotsUsed}}
						</div>
					</li>
				{{/each}}
				</ol>

				<!-- Treasure list -->
				<ol class="SD-list item-list" style="margin-top:8px">
					<li class="header">
						<div class="item-name">
							<a
								class="fa-solid fa-square-plus"
								style="margin:0px 8px 0px 4px"
								data-action="create-treasure"
							></a>
							Treasure
						</div>
						<div class="quantity">Value</div>
						<div class="slots">Slots</div>
					</li>

				{{#each inventory.treasure as |item|}}
					<li class="item" data-item-id="{{item._id}}" data-uuid="Actor.{{../actor._id}}.Item.{{item._id}}">
						<div class="item-image" style="background-image: url({{item.img}})">
							<i class="fas fa-comment fa-lg"></i>
						</div>
						<a class="item-name" data-action="show-details">
							{{item.name}}
						</a>
						<div class="quantity">{{displayCost item}}</div>
						<div class="slots">{{item.slotsUsed}}</div>
					</li>
				{{/each}}
				</ol>

			<br>

		</div>
		<!--Sidebar-->
		<div>
			<div class="grid-1-columns">
				{{> actors/npc/inventory/slots }}
				{{> actors/npc/inventory/coins }}
			</div>
		</div>
	</div>
</section>
